<launch>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find orb_slam_ros)/orb_viz.rviz" output="log"/>

 	<node pkg="orb_slam_ros" type="stereo_node" name="orb_slam_ros"  
        args="/home/razer/orb_slam_ros/Vocabulary/ORBvoc.txt /home/razer/orb_slam_ros/config/stereo.yaml" cwd="node" output="screen">
        <remap from="/camera/left/image_raw" to="/firefly/vi_sensor/left/image_raw"/>
        <remap from="/camera/right/image_raw" to="/firefly/vi_sensor/right/image_raw"/>
        </node>

</launch>
